body{
  font-family:sans-serif, Arial;
}
table{
  margin:0 auto;
}

h2:hover{
  text-shadow: 0px 2px 5px rgb(91, 91, 91);
  transition: 0.2s;
}

tr:hover{
  background-color: rgb(237, 237, 174);
  transition: 0.3s;
}

td,th{
  border: 1px solid black;
}

tr{
  background-color: white;
}
th{
  background-color: beige;
}